<div class="container-fluid">
  <h1>Contact Information</h1>
  <h2>Please fill out your contact information below.</h2>
  <form>
    <div class="form-group">
      <label for="email">Name</label>
      <div>
        <input type="text" class="form-control" aria-describedby="first_name_help" id="first_name" required>
        <input type="text" class="form-control" aria-describedby="last_name_help" id="last_name" required>      
      </div>
      <div>
        <small id="first_name_help" class="form-text text-muted">First Name</small>
        <small id="last_name_help" class="form-text text-muted">Last Name</small>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div>
        <input type="email" class="form-control" id="email" required>
      </div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div>
        <input type="tel" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <div>
        <input type="text" class="form-control" id="address" required>
      </div>
    </div>
  </form>
</div>